.container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.container >div{
    padding: 5px;
    font-size: bold;
    text-align: center;
}
.Dropdown{
    flex:1px;
    padding:1px;
    width: 200px;
    height: 25px;
    border-color: black;
    border-radius: 3px;
}