body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #dafad2;
  background-image: url('/Images/footer_bird.png'); 
  background-repeat: no-repeat; 
  background-size: 400px 400px;
  background-position: center center;
  font-family: sans-serif;
}
.container{
  padding: 20px;
}
.button{
 /* Blue */
  color: rgb(13, 236, 13);
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-weight:bold;
  transition: background-color 0.3s;
  background-color: #2e2020;
  
}
.button:hover{
   background-color: rgba(115, 8, 236, 0.363);
}


/* TAB BUTTONS */
.tabbutton{
  color: rgb(252, 65, 9);
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-weight:bold;
  transition: background-color 0.3s;
  background-color: #8292f193;
  
}
.tabbutton:hover{
background-color: rgba(7, 120, 250, 0.363);
}


.action-buttons{
  
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 40px;
}
.tab-buttons{
  
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 1px;
}
.controls{
  height: 700px;
  border: 2px solid black;
 
}
.label{
  width: 80px;
  color: black;
}
.div-controls{
  display: flex;
  align-items: center;
  padding: 5px;
}

